@model ProductVM
<h1>Ürün EKle</h1>

<h5 style="color:red">
    @ViewBag.Eror
</h5>
<form asp-controller="Product" asp-action="Save" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <label asp-for="Name">
   
    </label>
   <input asp-for="Name" class="form-control" />

   <label asp-for="Price"></label>
    <input asp-for="Price" class="form-control" />
    <div class="mb-2">
        <label asp-for="File"></label> <br />

        @if (!string.IsNullOrWhiteSpace(ViewBag.ImagePath))
        {
            <img class="mb-2 mt-2" width="125" height="125" src="~/Images/products/@ViewBag.ImagePath" />
        }

        <input type="file" asp-for="File" class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit">Ekle</button>

</form>